* {
  padding: 0;
  margin: 0;
}

body {
  font-family: '华文宋体 Black';
  background: #000;
}

.bchat-item {
  width: 100%;
  animation: 0.4s linear enter-anim;
}

@keyframes enter-anim {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}